.video-item{"data-target" => "#learnVideoCarouselModal", "data-toggle" => "modal", "data-video-link" => "#{videolink}", "data-video-title" => "#{title}"}
  - if asset_type == "sim_demo"
    = link_to image_tag("#{photourl}", alt: "Gitlab video photo jpg"), "#{videolink}", target: "_blank"
  - else
    = image_tag "#{photourl}", class: "video-photo", alt: "Gitlab video photo jpg", loading: "lazy"
  - if asset_type == "video"
    = image_tag "/images/learn/shared/youtube_social_icon_red-32x23.png", class: "video_bug", alt: "YouTube video", loading: "lazy"
  - else
    = image_tag "/images/learn/shared/demo_icon-32x23.png", class: "demo_bug", alt: "Demo file", loading: "lazy"
  - if defined? video_title_size
    - if video_title_size == "h5"
      %h5= title
  - else
    %h4= title
